<h1> Tasks List</h1>

<ul>
  <% @tasks.each do |task| %>
  <% result = task.completed ? "x" : " " %>
  <li> [<%= result %>] | <%= link_to task.title, show_path(task.id) %>   </li>
  <% end %>
</ul>

<%= link_to "Create new task", tasks_new_path %>

